# Server
PORT=5000
# For local dev:
# CLIENT_ORIGIN=http://localhost:5173
# For deployment:
# CLIENT_ORIGIN=https://your-frontend-domain.com
CLIENT_ORIGIN=*
WIN_TAPS=20
TAP_COOLDOWN_MS=60

# Client
# Local:
# VITE_SERVER_URL=http://localhost:5174
# Deployed backend (Render):
# VITE_SERVER_URL=https://your-backend.onrender.com
