# dependencies
node_modules/
**/node_modules/

# env
.env
**/.env

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# build output
client/dist/
server/dist/

# OS / editor
.DS_Store
Thumbs.db
.vscode/
.idea/

# Laragon
.laragon/

# misc
*.local
